<!DOCTYPE html>
<html lang="en">
<head _tracker="{&#34;pagetype&#34;:&#34;sell&#34;,&#34;line&#34;:&#34;c2c&#34;,&#34;platform&#34;:&#34;web&#34;}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <title>【 北京二手车估价】北京个人急卖二手车-瓜子二手车直卖网</title>
    <meta name="description" content="北京瓜子二手车直卖网个人二手车交易提供以下保障：1、只提供最佳车况的个人二手车；2、最苛刻的检测标准保证0事故；3、无中间环节透明无差价；4、陪同交易,提供过户服务；5、无理由退车超长质保售后无忧。个人买卖二手车,就上瓜子二手车直卖网！"/>

    <meta http-equiv="P3P" content='CP="CAO PSA OUR"'/>
    <meta name="baidu-site-verification" content="3r3nh4dkLA"/>
    <meta name="360-site-verification" content="f045c917619b6b3dc82ad5f699a09474"/>
    <meta name="google-site-verification" content="FQph3WEY6ZqNqVXCB5PT4_u8f-WjfF14l2OOdFiOEmg"/>
    <meta http-equiv="Cache-Control" content="no-transform "/>
    <meta name="sogou_site_verification" content="qY406sTreO"/>
    <meta name="shenma-site-verification" content="7b096264bff0cf1031a570c37abed00c_1476775946">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen"/>
</head><!-- 加载js/css-->


<script type="text/javascript">

</script>
<link rel="stylesheet" href="/sta.guazistatic.com/node_web/sell.73f3f84a711e68ffb26b5abcc288a74a.css" tppabs="https://sta.guazistatic.com/node_web/sell.73f3f84a711e68ffb26b5abcc288a74a.css">
<body>
<!--<p class="pop-tit">先估价再卖车，心里倍儿有底</p>
<label class="control-label">先估价再卖车，心里倍儿有底</label>
<div class="container-fluid">

    <form id="userform" class="form-horizontal">
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputName" class="col-sm-5 control-label">账号</label>

                <div class="col-sm-7">
                    <input type="text" id="inputName" name="username"
                           class="form-control" />
                </div>
            </div>

            <div class="col-xs-6">
                <label for="inputName2" class="col-sm-5 control-label">部门</label>
                <div class="col-sm-7">
                    <select id="deptids" name="deptid">
                    </select>
                </div>
            </div>
        </div>
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputName3" class="col-sm-5 control-label">密码</label>

                <div class="col-sm-7">
                    <input type="text" id="inputName3" name="userpassword"
                           class="form-control" />
                </div>
            </div>

            <div class="col-xs-6">
                <label for="inputName4" class="col-sm-5 control-label">确认密码</label>
                <div class="col-sm-7">
                    <input type="text" id="inputName4" class="form-control" />
                </div>
            </div>
        </div>
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-6">
                <label for="inputName5" class="col-sm-5 control-label">性别</label>

                <div class="col-sm-7">
                    <div class="radio">
                        <label> <input type="radio" value="1" name="sex" />男
                        </label> <label> <input type="radio" value="0" name="sex" />女
                    </label>
                    </div>

                </div>
            </div>
            <div class="col-xs-6">
                <label for="inputName6" class="col-sm-5 control-label">状态</label>

                <div class="col-sm-7">
                    <div class="radio">
                        <label> <input type="radio" value="1" name="start" />锁定
                        </label> <label> <input type="radio" value="0" name="start" />正常
                    </label>
                    </div>

                </div>
            </div>
        </div>
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-11">
                <label for="inputName6" class="col-sm-2 control-label">地区</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <select id="addshengid" name="shengid" class="form-control"
                                onchange="queryshi(this.value)">

                        </select>

                        <div class="input-group-addon">
								<span class="glyphicon glyphicon-minus">
                        </div>

                        <select id="addshiid" name="shiid" class="form-control">

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-11">
                <label for="inputName6" class="col-sm-2 control-label">角色</label>
                <div class="col-sm-10">
                    <select class="selectpicker" multiple id="inputRole" name="roleid"></select>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;华丽的分割线&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;
        <div class="form-group">
            <div class="col-xs-12">
                <label for="InputImg" class="col-sm-2 control-label">头像</label>
                <div class="col-sm-10">
                    <input type="hidden" id="testimg" name="img" />
                    <input type="file" multiple class="projectfile" accept="image/*" name="file" id="InputImg">
                </div>
            </div>

        </div>
</div>
</form>
</div>-->
<!-- 估价弹框  s -->
<div>
    <div class="pop-close"></div>
    <p class="pop-tit">先估价再卖车，心里倍儿有底</p>
    <ul class="form">
        <li>
            <p class="li-t">车源地</p>
            <div class="conselect mr-7 address-province">
                <input class="inputype" data-role="address" data-id="" placeholder="省份" readonly>
                <div class="p-r">
                    <div class="down-box">
                        <ul class="com-ul com-ul-288"></ul>
                    </div>
                </div>
            </div>
            <div class="conselect address-city">
                <input class="inputype disabled" data-role="area" data-id="" placeholder="城市" readonly>
                <div class="p-r">
                    <div class="down-box">
                        <ul class="com-ul"></ul>
                    </div>
                </div>
            </div>

        </li>
        <li class="js-car-model linkage">
            <p class="li-t">车型</p>
            <div class="conselect mr-6 js-car-brand">
                <input class="inputype inputype-72" readonly data-role="brandName" placeholder="品牌">
                <div class="p-r">
                    <div class="down-box">
                        <div class="brand-box">
                            <p class="s-tt"><a id="anchorhot" name="anchorhot">热门</a></p>
                            <ul class="hot-car clearfix">

                                <li data-id="1207">大众</li>

                                <li data-id="1205">福特</li>

                                <li data-id="1208">现代</li>

                                <li data-id="1206">别克</li>

                                <li data-id="1307">雪佛兰</li>

                                <li data-id="1202">日产</li>

                                <li data-id="1195">丰田</li>

                                <li data-id="1305">五菱</li>

                                <li data-id="1196">本田</li>

                                <li data-id="1198">宝马</li>

                            </ul>

                            <p class="s-tt"><a id="anchorA" name="anchorA">A</a></p>
                            <ul class="all-brand">

                                <li data-id="1199">奥迪</li>

                                <li data-id="1217">阿尔法·罗密欧</li>

                                <li data-id="1218">阿斯顿·马丁</li>

                                <li data-id="103764">Alpina</li>

                                <li data-id="103803">AC Schnitzer</li>

                                <li data-id="103819">安凯客车</li>

                                <li data-id="103841">ARCFOX</li>

                            </ul>

                            <p class="s-tt"><a id="anchorB" name="anchorB">B</a></p>
                            <ul class="all-brand">

                                <li data-id="1196">本田</li>

                                <li data-id="1197">奔驰</li>

                                <li data-id="1198">宝马</li>

                                <li data-id="1206">别克</li>

                                <li data-id="1212">比亚迪</li>

                                <li data-id="1222">宾利</li>

                                <li data-id="1223">北汽</li>

                                <li data-id="1224">保时捷</li>

                                <li data-id="1225">奔腾</li>

                                <li data-id="1226">标致</li>

                                <li data-id="2259">布加迪</li>

                                <li data-id="2270">北京</li>

                                <li data-id="2272">宝骏</li>

                                <li data-id="102721">巴博斯</li>

                                <li data-id="103779">北汽威旺</li>

                                <li data-id="103780">北汽幻速</li>

                                <li data-id="103783">北汽绅宝</li>

                                <li data-id="103798">宝沃汽车</li>

                                <li data-id="103807">比速汽车</li>

                                <li data-id="103826">北汽新能源</li>

                                <li data-id="103852">北汽道达</li>

                                <li data-id="103855">北京清行</li>

                                <li data-id="103868">宝骐汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorC" name="anchorC">C</a></p>
                            <ul class="all-brand">

                                <li data-id="1227">长安</li>

                                <li data-id="1228">长城</li>

                                <li data-id="1229">昌河</li>

                                <li data-id="2266">川汽野马</li>

                                <li data-id="103772">传祺</li>

                                <li data-id="103787">长安商用</li>

                                <li data-id="103799">成功汽车</li>

                                <li data-id="103840">长安欧尚</li>

                                <li data-id="103848">长安轻型车</li>

                                <li data-id="103874">车驰汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorD" name="anchorD">D</a></p>
                            <ul class="all-brand">

                                <li data-id="1207">大众</li>

                                <li data-id="1230">东风</li>

                                <li data-id="1233">大发</li>

                                <li data-id="1234">东南</li>

                                <li data-id="1235">道奇</li>

                                <li data-id="1239">东风风行</li>

                                <li data-id="2262">东风风神</li>

                                <li data-id="102712">东风小康</li>

                                <li data-id="103765">DS</li>

                                <li data-id="103769">东风风度</li>

                                <li data-id="103847">电咖汽车</li>

                                <li data-id="103853">东风瑞泰特</li>

                                <li data-id="103861">东风·瑞泰特</li>

                                <li data-id="103864">大乘汽车</li>

                                <li data-id="103870">东风风光</li>

                            </ul>

                            <p class="s-tt"><a id="anchorF" name="anchorF">F</a></p>
                            <ul class="all-brand">

                                <li data-id="1195">丰田</li>

                                <li data-id="1205">福特</li>

                                <li data-id="1215">福田</li>

                                <li data-id="1236">福迪</li>

                                <li data-id="1237">法拉利</li>

                                <li data-id="1240">菲亚特</li>

                                <li data-id="102709">福汽启腾</li>

                            </ul>

                            <p class="s-tt"><a id="anchorG" name="anchorG">G</a></p>
                            <ul class="all-brand">

                                <li data-id="1241">光冈</li>

                                <li data-id="1242">GMC</li>

                                <li data-id="1260">广汽吉奥</li>

                                <li data-id="102708">观致</li>

                                <li data-id="103850">国金汽车</li>

                                <li data-id="103860">广汽集团</li>

                            </ul>

                            <p class="s-tt"><a id="anchorH" name="anchorH">H</a></p>
                            <ul class="all-brand">

                                <li data-id="1248">哈飞</li>

                                <li data-id="1252">海马</li>

                                <li data-id="1253">悍马</li>

                                <li data-id="1254">华普</li>

                                <li data-id="1255">红旗</li>

                                <li data-id="1256">华泰</li>

                                <li data-id="1259">汇众</li>

                                <li data-id="102471">黄海</li>

                                <li data-id="102707">恒天</li>

                                <li data-id="103778">哈弗</li>

                                <li data-id="103782">海格</li>

                                <li data-id="103795">华颂</li>

                                <li data-id="103797">汉腾</li>

                                <li data-id="103808">华凯</li>

                                <li data-id="103823">华泰新能源</li>

                                <li data-id="103842">华晨鑫源</li>

                                <li data-id="103857">红星汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorJ" name="anchorJ">J</a></p>
                            <ul class="all-brand">

                                <li data-id="1200">吉利</li>

                                <li data-id="1216">Jeep</li>

                                <li data-id="1261">金杯</li>

                                <li data-id="1262">捷豹</li>

                                <li data-id="1264">江淮</li>

                                <li data-id="1265">江铃</li>

                                <li data-id="2265">九龙</li>

                                <li data-id="103804">金旅</li>

                                <li data-id="103805">金龙</li>

                                <li data-id="103824">江铃集团轻汽</li>

                                <li data-id="103825">江铃集团新能源</li>

                                <li data-id="103851">君马汽车</li>

                                <li data-id="103871">捷途</li>

                                <li data-id="103873">钧天</li>

                            </ul>

                            <p class="s-tt"><a id="anchorK" name="anchorK">K</a></p>
                            <ul class="all-brand">

                                <li data-id="1268">凯迪拉克</li>

                                <li data-id="1269">克莱斯勒</li>

                                <li data-id="2258">开瑞</li>

                                <li data-id="102464">科尼赛克</li>

                                <li data-id="102705">卡威</li>

                                <li data-id="102706">卡尔森</li>

                                <li data-id="103775">凯翼</li>

                                <li data-id="103827">康迪</li>

                                <li data-id="103830">卡升</li>

                                <li data-id="103832">KTM</li>

                            </ul>

                            <p class="s-tt"><a id="anchorL" name="anchorL">L</a></p>
                            <ul class="all-brand">

                                <li data-id="1209">铃木</li>

                                <li data-id="1270">猎豹</li>

                                <li data-id="1271">兰博基尼</li>

                                <li data-id="1273">陆风</li>

                                <li data-id="1274">力帆</li>

                                <li data-id="1276">路虎</li>

                                <li data-id="1277">林肯</li>

                                <li data-id="1278">雷克萨斯</li>

                                <li data-id="1279">雷诺</li>

                                <li data-id="1281">劳斯莱斯</li>

                                <li data-id="2269">理念</li>

                                <li data-id="102469">路特斯</li>

                                <li data-id="103833">LOCAL MOTORS</li>

                                <li data-id="103834">Lorinser</li>

                                <li data-id="103837">陆地方舟</li>

                                <li data-id="103849">领克</li>

                                <li data-id="103863">领途汽车</li>

                                <li data-id="103867">罗夫哈特</li>

                                <li data-id="103869">零跑汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorM" name="anchorM">M</a></p>
                            <ul class="all-brand">

                                <li data-id="1211">马自达</li>

                                <li data-id="1282">迈巴赫</li>

                                <li data-id="1284">MINI</li>

                                <li data-id="1285">玛莎拉蒂</li>

                                <li data-id="102716">迈凯伦</li>

                                <li data-id="103788">MG</li>

                                <li data-id="103818">摩根</li>

                            </ul>

                            <p class="s-tt"><a id="anchorN" name="anchorN">N</a></p>
                            <ul class="all-brand">

                                <li data-id="2271">纳智捷</li>

                                <li data-id="103806">南京金龙</li>

                                <li data-id="103866">哪吒汽车</li>

                                <li data-id="103872">NEVS国能汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorO" name="anchorO">O</a></p>
                            <ul class="all-brand">

                                <li data-id="1288">欧宝</li>

                                <li data-id="1289">讴歌</li>

                                <li data-id="102481">欧朗</li>

                                <li data-id="103859">欧拉</li>

                            </ul>

                            <p class="s-tt"><a id="anchorP" name="anchorP">P</a></p>
                            <ul class="all-brand">

                                <li data-id="102482">帕加尼</li>

                                <li data-id="103858">Polestar</li>

                            </ul>

                            <p class="s-tt"><a id="anchorQ" name="anchorQ">Q</a></p>
                            <ul class="all-brand">

                                <li data-id="1201">奇瑞</li>

                                <li data-id="1275">青年莲花</li>

                                <li data-id="1291">庆铃</li>

                                <li data-id="1292">起亚</li>

                                <li data-id="102478">启辰</li>

                                <li data-id="103821">前途</li>

                                <li data-id="103846">乔治·巴顿</li>

                            </ul>

                            <p class="s-tt"><a id="anchorR" name="anchorR">R</a></p>
                            <ul class="all-brand">

                                <li data-id="1202">日产</li>

                                <li data-id="1293">荣威</li>

                                <li data-id="2260">瑞麒</li>

                                <li data-id="102701">RUF</li>

                                <li data-id="103838">瑞驰新能源</li>

                                <li data-id="103856">容大智造</li>

                            </ul>

                            <p class="s-tt"><a id="anchorS" name="anchorS">S</a></p>
                            <ul class="all-brand">

                                <li data-id="1204">三菱</li>

                                <li data-id="1214">萨博</li>

                                <li data-id="1294">斯巴鲁</li>

                                <li data-id="1296">双环</li>

                                <li data-id="1297">斯柯达</li>

                                <li data-id="1299">双龙</li>

                                <li data-id="2253">世爵</li>

                                <li data-id="2273">上汽大通</li>

                                <li data-id="102474">思铭</li>

                                <li data-id="102476">Smart</li>

                                <li data-id="102700">陕汽通家</li>

                                <li data-id="103767">SPRINGO</li>

                                <li data-id="103801">赛麟</li>

                                <li data-id="103802">斯威</li>

                                <li data-id="103835">斯达泰克</li>

                            </ul>

                            <p class="s-tt"><a id="anchorT" name="anchorT">T</a></p>
                            <ul class="all-brand">

                                <li data-id="2257">通用</li>

                                <li data-id="102715">特斯拉</li>

                                <li data-id="102717">腾势</li>

                                <li data-id="103836">泰卡特</li>

                            </ul>

                            <p class="s-tt"><a id="anchorW" name="anchorW">W</a></p>
                            <ul class="all-brand">

                                <li data-id="1203">沃尔沃</li>

                                <li data-id="1304">五十铃</li>

                                <li data-id="1305">五菱</li>

                                <li data-id="2264">威麟</li>

                                <li data-id="102714">威兹曼</li>

                                <li data-id="103822">蔚来</li>

                                <li data-id="103829">WEY</li>

                                <li data-id="103854">威马汽车</li>

                            </ul>

                            <p class="s-tt"><a id="anchorX" name="anchorX">X</a></p>
                            <ul class="all-brand">

                                <li data-id="1208">现代</li>

                                <li data-id="1213">雪铁龙</li>

                                <li data-id="1307">雪佛兰</li>

                                <li data-id="1308">新凯</li>

                                <li data-id="2255">西雅特</li>

                                <li data-id="102465">夏利</li>

                                <li data-id="103862">新特汽车</li>

                                <li data-id="103865">小鹏汽车</li>

                                <li data-id="103875">星途</li>

                            </ul>

                            <p class="s-tt"><a id="anchorY" name="anchorY">Y</a></p>
                            <ul class="all-brand">

                                <li data-id="1210">一汽</li>

                                <li data-id="1244">云雀</li>

                                <li data-id="1310">英菲尼迪</li>

                                <li data-id="1311">依维柯</li>

                                <li data-id="2261">永源</li>

                                <li data-id="103784">英致</li>

                                <li data-id="103831">御捷</li>

                                <li data-id="103839">宇通客车</li>

                                <li data-id="103843">云度</li>

                                <li data-id="103844">裕路</li>

                            </ul>

                            <p class="s-tt"><a id="anchorZ" name="anchorZ">Z</a></p>
                            <ul class="all-brand">

                                <li data-id="1315">中华</li>

                                <li data-id="1318">众泰</li>

                                <li data-id="1319">中兴</li>

                                <li data-id="103796">知豆</li>

                                <li data-id="103820">之诺</li>

                            </ul>

                        </div>
                        <ul class="letter-sel">
                            <li><a href="#anchorhot">热</a></li>

                            <li><a href="#anchorA">A</a></li>

                            <li><a href="#anchorB">B</a></li>

                            <li><a href="#anchorC">C</a></li>

                            <li><a href="#anchorD">D</a></li>

                            <li><a href="#anchorF">F</a></li>

                            <li><a href="#anchorG">G</a></li>

                            <li><a href="#anchorH">H</a></li>

                            <li><a href="#anchorJ">J</a></li>

                            <li><a href="#anchorK">K</a></li>

                            <li><a href="#anchorL">L</a></li>

                            <li><a href="#anchorM">M</a></li>

                            <li><a href="#anchorN">N</a></li>

                            <li><a href="#anchorO">O</a></li>

                            <li><a href="#anchorP">P</a></li>

                            <li><a href="#anchorQ">Q</a></li>

                            <li><a href="#anchorR">R</a></li>

                            <li><a href="#anchorS">S</a></li>

                            <li><a href="#anchorT">T</a></li>

                            <li><a href="#anchorW">W</a></li>

                            <li><a href="#anchorX">X</a></li>

                            <li><a href="#anchorY">Y</a></li>

                            <li><a href="#anchorZ">Z</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="conselect mr-7 js-car-series">
                <input class="inputype disabled inputype-72" readonly data-role="tagName" placeholder="车系">
                <div class="p-r">
                    <div class="down-box">
                        <ul class="com-ul com-ul-190"></ul>
                    </div>
                </div>
            </div>

            <div class="conselect js-car-type">
                <input class="inputype disabled" data-role="car-model" readonly placeholder="车型">
                <div class="p-r">
                    <div class="down-box">
                        <div class="brand-box"></div>
                    </div>
                </div>
            </div>


        </li>
        <li>
            <p class="li-t">上牌时间</p>
            <div class="conselect mr-7 js-time-year">
                <input class="inputype disabled" readonly data-role="time-year" placeholder="年份" />
                <div class="p-r">
                    <div class="down-box">
                        <ul class="com-ul"></ul>
                    </div>
                </div>
            </div>
            <div class="conselect js-time-month">
                <input class="inputype disabled" readonly data-role="time-month" placeholder="月份" />
                <div class="p-r">
                    <div class="down-box">
                        <ul class="com-ul">
                        </ul>
                    </div>
                </div>
            </div>

        </li>
        <li>
            <p class="li-t">行驶里程</p>
            <div class="odo-box conselect js-mile">
                <input class="odo-input" data-role="mile" placeholder="">
            </div>
        </li>
        <li>
            <p class="li-t">接收手机</p>
            <div class="odo-box conselect">
                <input class="pg-phone-input js-phone-input" data-role="phone" placeholder="请输入您的手机号码">
            </div>
        </li>
    </ul>

    <p class="form-error"></p>
    <button class="sub-btn js-sub-btn evaluate-btn" data-next="js-evaluate-success"
            data-gzlog="0220050000000122" data-clue-entry="04">开始估价</button>
    <p class="free-phone">免费咨询 400-023-1529 </p>
</div>
<!-- 估价弹框  e -->
</body>
<script type="text/javascript" src="/sta.guazistatic.com/node_web/manifest.be781930f0861d8832a6.js" tppabs="https://sta.guazistatic.com/node_web/manifest.be781930f0861d8832a6.js"></script>


<!--
<script type="text/javascript" src="/sta.guazistatic.com/node_web/vendor.3c2d3fba0fe321dc72ea.js" tppabs="https://sta.guazistatic.com/node_web/vendor.3c2d3fba0fe321dc72ea.js"></script>
-->

<!--
<script type="text/javascript" src="/sta.guazistatic.com/node_web/sell.035a4b627f5744cc55d8.js" tppabs="https://sta.guazistatic.com/node_web/sell.035a4b627f5744cc55d8.js"></script>
-->


</html>