<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">
 <resultMap id="BaseResultMap" type="com.jk.model.BuyCarBean" >
  <id column="id" property="id" jdbcType="INTEGER" />
  <result column="car_type" property="cartype" jdbcType="VARCHAR" />
  <result column="car_series" property="carSeries" jdbcType="VARCHAR" />
  <result column="car_license_year" property="carLicenseYear" jdbcType="DATE" />
  <result column="car_license_month" property="carLicenseMonth" jdbcType="DATE" />
  <result column="car_roadRoller" property="carRoadroller" jdbcType="VARCHAR" />
  <result column="car_Licencesto" property="carLicencesto" jdbcType="VARCHAR" />
  <result column="car_vehicleCondition" property="carVehiclecondition" jdbcType="VARCHAR" />
  <result column="car_demand" property="carDemand" jdbcType="VARCHAR" />
  <result column="user_id" property="userId" jdbcType="INTEGER" />
  <result column="car_price" property="carPrice" jdbcType="DOUBLE" />
  <result column="car_displacement" property="carDisplacement" jdbcType="DOUBLE" />
  <result column="car_licensePlateNumber" property="carLicenseplatenumber" jdbcType="VARCHAR" />
  <result column="car_status" property="carStatus" jdbcType="INTEGER" />
  <result column="car_site" property="carSite" jdbcType="VARCHAR" />
  <result column="car_parameter" property="carParameter" jdbcType="INTEGER" />
  <result column="car_img" property="carImg" jdbcType="VARCHAR" />
  <result column="car_details" property="carDetails" jdbcType="VARCHAR" />
  <result column="car_time" property="carTime" jdbcType="INTEGER" />
  <result column="carage" property="carage" jdbcType="INTEGER" />
  <result column="mileage" property="mileage" jdbcType="INTEGER" />
  <result column="carpart" property="carpart" jdbcType="INTEGER" />
  <result column="carshift" property="carshift" jdbcType="INTEGER" />
  <result column="carseat" property="carseat" jdbcType="INTEGER" />
  <result column="car_year_string" property="carYearString" jdbcType="VARCHAR" />
  <result column="car_month_string" property="carMonthString" jdbcType="VARCHAR" />
 </resultMap>

 <!--   <select id="userMapperYw" parameterType="map" resultType="int">
         select count(*) from c_car a
            left join t_brand b on a.brandid = b.brandid
            left join t_yeartype c on a.yeartypeid = c.yeartypeid
            left join t_transmission d on a.transmissionid = d.transmissionid
    </select>

    <select id="rownumqueryYw" parameterType="map" resultType="com.jk.model.CarBeanYw">
        select a.carid,b.brandname as brandname,c.year as yeartypename,d.transmissionname as transmissionname,
            a.displacement,a.gztype,a.userphone,a.username,a.price,a.mileage,a.km
            from c_car a
            left join t_brand b on a.brandid = b.brandid
            left join t_yeartype c on a.yeartypeid = c.yeartypeid
            left join t_transmission d on a.transmissionid = d.transmissionid
            group by a.carid
            limit #{startIndex},#{endIndex}
    </select>-->

 <!--??????-->
 <select id="getBuyCarLista" parameterType="int" resultMap="BaseResultMap">
  select * from t_car  where  car_status =2
  <include refid="queryWhere"></include>
 </select>
 <sql id="queryWhere">
  <if test=" buyCarBean.cartype !=null and buyCarBean.cartype != ''">
   and car_type like '%${buyCarBean.cartype}%'
  </if>
  <if test=" buyCarBean.min !=null and buyCarBean.min != ''">
   and car_price >#{buyCarBean.min}
  </if>
  <if test=" buyCarBean.max !=null and buyCarBean.max != ''">
   and car_price &lt;#{buyCarBean.max}
  </if>
  <if test=" buyCarBean.carage != null and buyCarBean.carage != '' and buyCarBean.carage != -1">
   and carage = #{buyCarBean.carage}
  </if>
  <if test=" buyCarBean.mileage != null and buyCarBean.mileage != -2 ">
   and mileage = #{buyCarBean.mileage}
  </if>
  <if test=" buyCarBean.carpart != null  and buyCarBean.carpart != -3 ">
   and carpart = #{buyCarBean.carpart}
  </if>
  <if test=" buyCarBean.carshift != null  and buyCarBean.carshift != -4 ">
   and carshift = #{buyCarBean.carshift}
  </if>
  <if test=" buyCarBean.carseat != null  and buyCarBean.carseat != -5 ">
   and carseat = #{buyCarBean.carseat}
  </if>
 </sql>



<!-- car_img as carImg,car_price as carPrice-->

 <!--??Id??????-->
 <select id="getBuyCarListOne" parameterType="int" resultMap="BaseResultMap">
    select * from t_car where  id = #{value}
  </select>




</mapper>


